<?xml version="1.0"?>
<config>
    <modules>
        <Tommy_DebugInfo>
            <version>0.1.2</version>
        </Tommy_DebugInfo>
    </modules>
    <global>
        <helpers>
            <tommy_debuginfo>
                <class>Tommy_DebugInfo_Helper</class>
            </tommy_debuginfo>
        </helpers>
    </global>
    <frontend>
		<routers>
			<debug_info>
				<use>standard</use>
				<args>
					<module>Tommy_DebugInfo</module>
					<frontName>debug_info</frontName>
				</args>
			</debug_info>
		</routers>
    </frontend>
</config>